.izq{
    background-color: red;
    font-size: 50px;
}

.avatar{
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 200px;
    height: 250px;
}

.cent{
    background-color: green;
}

body{
    width: 99%;
    background-color: green;
    color: white;
}
