body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    /* overflow: hidden; Evita scroll */
  }
  
  .code-container {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .titlebox{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #0056b3;
  }
  
  .code-display {
    max-height: 400px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .code-block {
    display: none;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    text-align: left;
  }
  
  .code-block.hidden {
    display: none;
  }
  
  .code-block:not(.hidden) {
    display: block;
  }
  
  

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img{
    width: 500px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%; /* Modificar cover para la posicion en la pantalla */
    animation-fill-mode: both;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.btncv{
    height: 100px;
    width: 200px;
    font-size: 50px;
    font-family: fantasy;
    background-color: #a569bd21;
    color: #A569BD;
    border: none;
    border-radius: 10px;
}