body{
    background-color: #231c43;
    color: #549EBE;
    width: 99%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.NM{
    color: #ec6ffe;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.SNM{
    color: #00ff9d;
}

.CON{
    padding-left: 50px;
    margin-top: 200px;
    margin-left: 25%;
}
/**
.NAV{
    background-color: #372962;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
}
*/
.NAV{
    background-color: #372962;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.CONT{
    background-color: #231c43;
    padding-left: 50px;
    margin-top: 300px;
}

.MNGS{
    font-size: 20px;
}

.AV{
    position: absolute;
    justify-content: center;
    margin-top: 200px;
    margin-right: 20px;
}

.LST{
    position: absolute;
    justify-content: center;
    margin-top: 450px;
    font-size: 24px;
}

.btn-personal{
    background-color: #00ff9d;
}

.fg{
    display: none;
}

.url{
    text-decoration: none;
    list-style: none;
    color: #69AECB;
}

.ul{
    list-style: none;
}

a:hover{
    color: #ec6ffe;
}

li{
    list-style: none;
}

.EM{
    color: #00ff9d;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}